

# sample configuration file. Rename to configurations.py

# source access information. For commands which do not perform migration, only need these parameters
aws_region=""
aws_access_key=""
aws_secret_key=""

# destination access information. For migration commands, this is the target
aws_region_2=""
aws_access_key_2=""
aws_secret_key_2=""


